@font-face {
  font-family: 'Winky Rough';
  src: url('fonts/WinkyRough-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

hr {
  width: 90%;
}
body {
    margin: 0;
    background-color: black;
    background-image: url('images/background (new).png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Winky Rough', sans-serif;
    font-size: 2.5vh;
  }

#opening_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(37, 37, 37, 0.8);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  #background_cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(43, 43, 43, 0.6);
    z-index: -1;
  }
  #main_text_menu {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
  }

  #text_body {
    width: 80vw;
    min-height: 10vh;
    max-height: 80vh;
    background-color: rgba(37, 37, 37, 0.8);
    padding: 2%;
    margin-top: 10vh;
    overflow-y: scroll;
  }

  .normal_header {
    margin-top: 4vh;
    font-size: 26px;
    color: white;
    font-family: 'Winky Rough', sans-serif;
  }

  #fate_body {
    overflow-y: scroll;
    max-height: 45vh;
    background-color: rgba(37, 37, 37, 0.8);
    width: 74vw;
    padding: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #fate_box {
    width: 74vw;
    flex-direction: column;
    gap: 1.5vh;
    border-radius: 8px;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  #bottom_bar {
    position: fixed;
    padding: 1vh 0;
    text-align: center;
  }


  /* Shared styles for all *_menu1 and #continue_button */
  #info_menu1,
  #cultivation_chamber_menu1,
  #world_menu1,
  #continue_button,
  #spatial_ring_menu1 {
    position: fixed;
    bottom: 0;
    width: 10%;
    height: 12vh;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease;
  }

  /* Hover effect for all *_menu1 and continue_button */
  #info_menu1:hover,
  #cultivation_chamber_menu1:hover,
  #world_menu1:hover,
  #continue_button:hover,
  #spatial_ring_menu1:hover {
    scale: 0.9;
    background-color: rgba(30, 16, 0, 0.7);
  }

  /* Hover effect for all *_menu1 and continue_button */
  #info_menu1:hover,
  #cultivation_chamber_menu1:hover,
  #world_menu1:hover,
  #continue_button:hover,
  #spatial_ring_menu1:hover {
    scale: 0.9;
    background-color: rgba(30, 16, 0, 0.7);
    transition: all 0.4s ease;
  }

  /* Even spacing along the bottom for the menu1 buttons */
  #info_menu1 { left: 20%; }
  #spatial_ring_menu1 { left: 32.5%; }
  #cultivation_chamber_menu1 { left: 45%; }
  #world_menu1 { left: 57.5%; }
  #continue_button { left: 70%; }

  /* Shared styles for all *_menu2 */

  #world_menu2,
  #spatial_ring_menu2,
  #info_menu2,
  #cultivation_chamber_menu2 {
    position: fixed;
    bottom: 15vh;
    left: 10%;
    width: 80vw;
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease;
    color: white;
  }

  #info_menu2 {
    position: fixed;
    bottom: 15vh;
    left: 10%;
    width: 80vw;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease;
    color: white;
  }

  /* Specific scrollbar setting only for info_menu2 */
  #info_menu2, 
  #cultivation_chamber_menu2,
  #world_menu2, 
  #spatial_ring_menu2 {
    overflow-y: scroll;
    
  }


  #top_bar {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 207, 119);
  }


  .fate_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vh 1vw;
  }

  .fate_label {
    color: rgb(255, 207, 119);
    flex: 1;
    font-family: 'Winky Rough', sans-serif;
  }

  .fate_controls {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 1vw;
  }

  .fate_value {
    flex: 1;
    text-align: right;
    font-family: 'Winky Rough', sans-serif;
  }

  .adder_buttons {
    border: none;
    color: orange;
    background: none;
    font-size: 2.5vh;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: 'Winky Rough', sans-serif;
  }

  .adder_buttons:hover {
    color: #ffae42;
    scale: 0.95;
    background-color: rgba(30, 16, 0, 0.7);
  }

  .attack_buttons {
    border: none;
    background: none;
    color: rgb(0, 201, 70);
    font-size: 2.5vh;
    cursor: pointer;
    background-color: rgba(53, 28, 0, 0.7);
    border-radius: 5px;
    padding: 5px;
    transition: all 0.2s ease;
    font-family: 'Winky Rough', sans-serif;
  }

  .attack_buttons:hover {
    scale: 0.95;
    color: rgb(0, 165, 58);
    transition: all 0.2s ease;
    background-color: rgba(30, 16, 0, 0.7);
  }

  .normal_buttons {
    border: 1px solid white;
    color: orange;
    font-size: 2.5vh;
    cursor: pointer;
    background-color: rgba(53, 28, 0, 0.7);
    border-radius: 5px;
    padding: 5px;
    font-family: 'Winky Rough', sans-serif;
  }

  .normal_buttons:hover {
    scale: 0.9;
    color: #ffae42;
    transition: all 0.2s ease;
  }




  .text_label {
    color: rgb(255, 207, 119);
    font-size: 24px;
  }





  /* Dropdown button styling */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 18px;
  font-size: 2.5vh;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Winky Rough', sans-serif;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 180px;
  border-radius: 6px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 11;
  overflow: hidden;
  transform: translate(-30px, 10px);
  height: 40vh;
  overflow-y: scroll;
}

/* Dropdown links */
.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background 0.2s ease;
}

/* Hover effect for dropdown links */
.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Show dropdown on click (better for mobile) */
.dropdown-content.show {
  display: block;
}

/* Change dropdown button color on hover */
.dropdown:hover .dropbtn {
  background-color: #037d55;
}


#info_menu2, #cultivation_chamber_menu2, #world_menu2 {
  display: flex;
  flex-direction: column;
}

#player_section > div, #cultivation_chamber_menu2 > div, #world_menu2 > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
}

#player_section > div > div, #cultivation_chamber_menu2 > div > div, #world_menu2 > div > div {
  width: calc(24% - 10px);
  margin: 5px;
}

#player_section > div > div > p, #cultivation_chamber_menu2 > div > div > p, #world_menu2 > div > div > p {
 margin: 0;
}


#tab_selection {
  position: fixed;
  top: 10vh;
  left: 10%;
  width: 80vw;
  height: 10vh;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}



#first_valley_areas, #relationships {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10vw;
  overflow: visible;
  width: 100%; /* ensure it has a defined width */
  white-space: nowrap; /* useful for inline/scroll content */
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.area_btns {
  flex: 0 0 auto; /* <-- ensure it doesn't shrink or grow */
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgba(30, 16, 0, 0.7);
  color: rgb(255, 207, 119);
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 2.5vw;
  padding: 1vw;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: wrap;
}

.area_btns:hover {
  scale: 0.95;
  background-color: rgba(30, 16, 0, 0.8);
}


#first_valley_menu, #relationships_menu {
  position: fixed;
  bottom: 15vh;
  left: 10%;
  width: 80vw;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  transition: all 0.2s ease;
  /* color: white; */
  overflow: scroll;
  border: none;
}

.relationship_div {
  display: flex;
  margin: 1vh;
  flex-direction: column;
  /* gap: 1vh; */
  padding: 1vh;
  border-radius: 8px;
  border: 1px solid white;
  overflow-y: scroll;
  scrollbar-width: none;
  min-width: 25vw;
  height: 50vh;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  text-wrap: wrap;
}
  











.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 15vw;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -1vw;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext[data-position="bottom"] {
  top: auto;
  bottom: 100%;
}

.tooltip .tooltiptext[data-position="bottom"]::after {
  top: auto;
  bottom: 100%;
  border-color: transparent transparent transparent #555;
}


.flex_col {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}









@keyframes bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}